.bg-rock-fest {
  background: #100022 url("~images/backgrounds/Rock-Fest.jpg") center center / cover no-repeat;
  // url(`${require("/images/backgrounds/Rock Fest.jpg")}`) center center / cover no-repeat;
}