.blockquote__text {
  font-size: 16px;
  line-height: 1.875;  
  color: #4f435c;
  font-weight: 400;
  margin-bottom: 20px;
}
.blockquote__author {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}