.nav {

  &__list {
    display: flex;


    @include tablets {
      flex-wrap: wrap;
    }
  } 

  &__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0px;
    }

    @include tablets {
      margin-right: 60px;
      margin-bottom: 20px;
    }
  }

  &__link {
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;

    &:hover {
      border-bottom: 2px solid white;
    }
  }
}

