.review {
  &__author {
    display: flex;
  }
  &__avatar {
    margin-right: 30px;
    width: 75px;
    height: 75px;
  }
  &__text {
    color: #888190;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
  }

  &__name {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
  }
  &__job {
    font-size: 16px;
    color: #888190;
    font-weight: 600;
  }
}