.scroll {
  display: flex;
  cursor: pointer;
}

.scroll__text {
  font-size: 18px;
  color: #fff;
  font-weight: 600;

}
.scroll__icon {
  height: 30px;
  width: 30px;

}
.scroll__pic {
  fill: #fff;
}

.scroll__text {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}