.triangles {
  display: flex;
  color: #06001e;
  margin-top: -1px;
}

.triangles__item {
  width: 100%;
  display: block;
  height: 132px;
  fill: currentColor;

  @include tablets {
    height: 50px;
  }
}