.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user__avatar {
  margin-bottom: 70px;

  // @include desktop {
  //   max-width: 170px;
  //   max-height: 170px;
  // }
}
.user__brief-info {
  width: 100%;
}

.user__data-row {
  display: flex;
  margin-bottom: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0px;
  }
}

.user__data-desc {
  flex: 1;
  opacity: 0.15;
  
}
.user__data-content {
  flex: 1;
  
}